  body.loading #particles-js canvas{opacity:0;-webkit-transform:scale(0.7);
  	-ms-transform:scale(0.7);transform:scale(0.7)}
.val{max-width:550px;height:100px; background-size: 100%;
margin-top:0px;margin-bottom:0px}